.marquee-container {
    width: 100%;
    overflow: hidden;
    background: #f0f0f0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.marquee {
    white-space: nowrap;
    /* animation: marquee 300s linear infinite; */
    /* Changed animation duration to 300s to make it slower */
    display: inline-block;
    padding-left: 100%;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.message {
    display: inline-block;
    padding: 0 50px;
    color: #333;
    font-size: 18px;
}

@font-face {
    font-family: 'BreathingFont';
    src: url(breathing.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}